// gradient
$color-gradient-main: linear-gradient(57deg,
    #63C891 2.28%,
    #56C9D8 16.2%,
    #7587BD 28.13%,
    #8E54A9 39.89%,
    #B94296 49.76%,
    #E62F83 64.72%,
    #ED7052 80.24%,
    #F6C115 92.53%);
$color-gradient-bg: linear-gradient(153deg, #FDF9CF -2.29%, #D3F2FF 9.58%, #FFF3E1 36.17%, #F5D6FF 76.27%);

// Black-White
$color-black-custom: #121432;
$color-dark-grey: #61657E;
$color-grey: #828282;
$color-light-grey: #ADADAD;
$color-lighter-grey: #D7D7D7;
$color-off-white: #E4E7EC;
$color-border-cms: #F0F0F0;
$color-background-app: #F8F8F8;
$color-background-cms: #F7F7F7;
$color-white: #FFFFFF;

// Blue
$color-main-blue: #0073BA;
$color-dark-blue: #3D73FF;
$color-medium-blue: #6672FB;
$color-light-blue: #C8E3FE;
$color-lightest-blue: #D2DEE7;
$color-pale-blue: #EFF3FB;
$color-blue-accent: #F6F9FD;

// Yellow
$color-dark-yellow: #FFAF23;
$color-medium-yellow: #F8B849;
$color-light-yellow: #FFF0A3;
$color-pale-yellow: #FFF2C6;
$color-lightest-yellow: #FFFDE6;

// Pink
$color-main-pink: #E90089;
$color-light-pink: #FCDDEC;
$color-pale-pink: #FFE5E2;

// Green
$color-dark-green: #077D55;
$color-medium-green: #70BFAC;
$color-light-green: #CFF3C5;
$color-pale-green: #E2F9DB;
$color-green-accent: #EFF5F7;

// Red
$color-dark-red: #D91F11;
$color-medium-red: #E8523F;
$color-light-red: #FACDC9;
